services:
  backend:
    build: ./backend
    container_name: chistoe_backend
    env_file:
      - .env
    expose:
      - "5000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: chistoe_frontend

  nginx:
    build: ./docker/nginx
    container_name: chistoe_nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
      - frontend

  mongo:
    image: mongo:6
    container_name: chistoe_mongo
    restart: always
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
