# ===============================
# Node.js
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# Environment variables
# ===============================
.env
.env.local
.env.production

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# MongoDB DATA (ВАЖНО)
# ===============================
data/
data/**
backend/data/
backend/data/**

# ===============================
# MongoDB internal files
# ===============================
*.wt
*.lock
*.turtle
*.bson
*.journal
WiredTiger*
mongod.lock
storage.bson
sizeStorer.wt

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Build / cache
# ===============================
dist/
build/
.cache/

# ===============================
# Docker
# ===============================
docker-data/
