services:
  - type: web
    name: chistoe-nebo-backend
    runtime: node
    plan: free

    rootDir: backend

    buildCommand: npm install
    startCommand: npm start

    envVars:
      - key: NODE_ENV
        value: production

      - key: PORT
        value: 4000
